#team {
    display: flex;
    transform: scale(0.5,0.5);
    margin: 0;
    padding: 0;
}
#about-us-logo-div {
    text-align: center;
}
#about-us-logo-image {
    width: 40em;
    height: auto;
    /* align-items: center;
    justify-content: center;
    padding: 0px; */
}

#ab1 {
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color:#4B0082
}

#p1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#ab2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color:#4B0082
}

#p2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
