.content  h1 {
    font-family: 'Roboto', sans-serif;
    color: #4B0082;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.content p {
    font-size: 25px;
    margin: 10px;
    align-content: center;
    text-align: center;
}