#logo-div {
    text-align: center;
}
#logo-image {
    width: 60%;
}

#heading {
    font-family: 'Roboto', sans-serif;
    color: #4B0082;
    text-align: center;
}

.content p {
    font-size: 25px;
    margin: 10px;
    align-content: center;
    text-align: center;
}