.author h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: #4B0082;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
}

.author h3 {
    /* program, year, linked, email text style */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 3px;
    padding: 3px;
}

.author a {
    /* links to linkedin and email */
    color: rgb(221, 189, 7);
}


